/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------------------------------- */

.header__container {
    position: fixed;
    top: 0;
    z-index: 1000;

    width: 100%;

    background-color: #f8f9fa;
}

.header__container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0px;
}

.header__container img {
    padding: 0;
    margin: 0;
    max-height: 40px;

    cursor: pointer;
}

.header__container button {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border: 2px solid black;
    border-radius: 15px;

    padding: 10px 20px;

    cursor: pointer;
}
.header__container button:hover {
    border-color: #0dcaf0;
    background-color: #0dcaf0;

    color: white;

    transition: 0.3s;
}

.main__container {
    max-width: 1000px;
    margin: 120px auto 0px;
}

.div__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.div__search > h2 {
    font-size: 22px;
}

.div__search > div {
    display: flex;
    gap: 20px;
}

.div__search > div > select {
    font-size: 20px;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 0px 10px;
}
.div__search > div > select:hover {
    border-color: black;
    transition: 0.3s;
}

.div__search > div > button {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border: 2px solid black;
    border-radius: 10px;

    padding: 5px 10px;

    cursor: pointer;
}
.div__search > div > button:hover {
    border-color: #0dcaf0;
    background-color: #0dcaf0;

    color: white;

    transition: 0.3s;
}

.div__results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin-top: 50px;

    font-family: "Open Sans", sans-serif;
}

.div__results > h2 {
    font-size: 20px;
}

.div__results > div {
    display: flex;
    gap: 100px;
    font-size: 18px;
}

.main__container > h2 {
    margin-top: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

.ul__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

    min-height: 400px;
    margin: 30px 0;
    padding: 20px;

    border: 1px solid black;
    border-radius: 10px;

    background-color: #f8f9fa;
    font-family: "Open Sans", sans-serif;
}

.ul__container > li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    width: 180px;
    height: max-content;

    padding: 20px 15px 10px 15px;

    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
.ul__container > li > h2 {
    font-size: 18px;
}

.div__calc--taxa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin: 50px 0;
    padding: 20px 0;

    border: 1px solid black;
    border-radius: 10px;

    background-color: #f8f9fa;
    font-family: "Open Sans", sans-serif;
}

.div__calc--taxa > div > select {
    font-size: 20px;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 0px 10px;
}
.div__calc--taxa > div > select:hover {
    border-color: black;
    transition: 0.3s;
}

.div__calc--taxa > div > button {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border: 2px solid black;
    border-radius: 10px;

    padding: 5px 10px;

    cursor: pointer;
}
.div__calc--taxa > div > button:hover {
    border-color: #0dcaf0;
    background-color: #0dcaf0;

    color: white;

    transition: 0.3s;
}

.footer__container {
    background-color: #f8f9fa;
}

.footer__container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0px;
}

.footer__container img {
    padding: 0;
    margin: 0;
    max-height: 50px;

    cursor: pointer;
}

.footer__container--div-datails {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-size: 20px;
}
